<div class="my-4 container">
    <h2>Admin Portal</h2>
    <div class="row">
        <div class="col-sm-4">
            <ul class="list-group">

                <li class="list-group-item"><a routerLink="admin-addbus">Add Bus</a></li>
                <li class="list-group-item"><a routerLink="admin-shedule">Add Schedule</a></li>
                <li class="list-group-item"><a routerLink="admin-password">Change Password</a></li>
            </ul>
        </div>
        <div class="col-sm-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>