<footer class="text-center text-lg-start bg-light text-muted pt-1">

    <section class="">
        <div class="text-center text-md-start mt-5">
            <div class="row mt-3">

                <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4">

                    <h6 class="text-uppercase fw-bold mb-4">
                        Company name
                    </h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>

                <div class="col-md-4 col-lg-4 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="#" class="text-reset">Link 1</a>
                    </p>
                    <p>
                        <a href="#" class="text-reset">Link 2</a>
                    </p>
                    <p>
                        <a href="#" class="text-reset">Link 3</a>
                    </p>
                    <p>
                        <a href="#" class="text-reset">Link 4</a>
                    </p>
                </div>

                <div class="col-md-5 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="bi bi-house-door"></i> Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit</p>
                    <p>
                        <i class="bi bi-envelope"></i>
                        info@example.com
                    </p>
                    <p><i class="bi bi-telephone-fill"></i> + 01 234 567 88</p>
                    <div>
                        <h6 class="text-uppercase fw-bold mb-2 mt-4">Follow Us On:</h6>
                        <a href="" class="text-reset fw-bold me-4 footer-icon">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="" class="text-reset fw-bold me-4 footer-icon">
                            <i class="bi bi-twitter"></i>
                        </a>
                        <a href="" class="text-reset fw-bold me-4 footer-icon">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center p-4 mt-3" style="background-color: #F2F2F2">
        © 2021 Copyright:
        <span class="text-reset fw-bold">Group 5</span>
    </div>
</footer>