<h1 class="mb4">Available Buses</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Booking Id</th>
            <th scope="col">Operator</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Departure Date and Time</th>
            <th scope="col">Estimated Arrival Date and Time</th>
            <th scope="col">No. of seats available</th>
            <th scope="col">Book</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1001</th>
            <td>Purple Travellers</td>
            <td>Delhi</td>
            <td>Pune</td>
            <td>17-05-22 17:30</td>
            <td>18-05-22 21:30</td>
            <td>20</td>
            <td>
                <button class="btn btn-primary btn-sm" (click)="goToSeats()">Book</button>
            </td>
        </tr>
    </tbody>
</table>