<app-navigation-bar></app-navigation-bar>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://www.volvobuses.com/content/dam/volvo/volvo-buses/markets/global/en-en/news/2020/1860x1050-9400-Intercity-coach-BS4-2020.jpg"
                class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="https://www.volvogroup.com/content/dam/volvo/volvo-group/markets/global/en-en/news/2019/nov/1860x1050-volvo-buses-transdev-pressrelease.jpg"
                class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="https://bl-i.thgim.com/public/incoming/6qrxkn/article65720743.ece/alternates/FREE_1200/262A9040.jpg"
                class="d-block w-100">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="main">
    <div class="container-fluid about-div">
        <h1 class="about-h1">About Us</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Egestas sed tempus urna et pharetra pharetra massa massa. Odio euismod lacinia at quis
            risus sed vulputate. Proin libero nunc consequat interdum varius sit amet mattis vulputate. Tincidunt nunc
            pulvinar sapien et ligula ullamcorper. Tincidunt vitae semper quis lectus nulla at volutpat diam ut. A
            condimentum vitae sapien pellentesque. Est ullamcorper eget nulla facilisi etiam dignissim. Et ultrices
            neque ornare aenean euismod elementum nisi quis.
        </p>
        <p>
            Egestas purus viverra accumsan in nisl nisi scelerisque eu. Nec feugiat nisl pretium fusce id velit.
            Volutpat consequat mauris nunc congue nisi vitae suscipit tellus mauris. Turpis nunc eget lorem dolor sed.
            Lectus magna fringilla urna porttitor rhoncus dolor. Eget dolor morbi non arcu risus quis varius. Bibendum
            arcu vitae elementum curabitur. Volutpat commodo sed egestas egestas fringilla phasellus faucibus. Et
            malesuada fames ac turpis egestas maecenas pharetra convallis.
        </p>
        <div class="home-know-more">
            <a class="btn btn-danger">Know More</a>
        </div>
    </div>

    <hr class="home-hr">

    <div class="container-fluid home-choose-us-divs">
        <h1 class="home-choose-us-h1">Why Choose Us?</h1>
        <div class="row">
            <div class="col-lg-3 col-md-6 choose-us-div">
                <h4 class="home-choose-us-h4"><i class="bi bi-calendar-plus-fill choose-us-icons"></i>Easy Booking</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat.</p>
            </div>
            <div class="col-lg-3 col-md-6 choose-us-div">
                <h4 class="home-choose-us-h4"><i class="bi bi-currency-dollar choose-us-icons"></i>Value for money</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat.</p>
            </div>
            <div class=" col-lg-3 col-md-6 choose-us-div">
                <h4 class="home-choose-us-h4"><i class="bi bi-chat-fill choose-us-icons"></i>24x7 Support</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et
                    dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    ut
                    aliquip
                    ex ea commodo consequat.</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="home-choose-us-h4"><i class="bi bi-truck-front-fill choose-us-icons"></i>Best Bus Service
                </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>