<section class="my-4" style="text-align: center;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-9">
                <h1 class="mb-4"> Add-Bus </h1>
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body">
                        <form [formGroup]="busForm" (ngSubmit)="onSubmit()">

                            <div class="row align-items-center py-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0"> Bus Plate Number</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <input type="text" class="form-control" formControlName="plateNo" />
                                    <span style="color:red" *ngIf="plateNo && plateNo.invalid && plateNo.touched">Enter
                                        Valid Plate No.</span>
                                </div>
                            </div>
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0"> No. Of Seats </h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <input type="number" class="form-control" formControlName="seats" />
                                    <span style="color:red" *ngIf="seats && seats.invalid && seats.touched">This input
                                        field is not Valid</span>
                                </div>
                            </div>


                            <hr class="mx-n3">
                            <div class="row align-items-center py-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0"> Bus Type </h6>
                                </div>
                                <div class="col-md-8 ps-100">
                                    <input class="radiobtn" type="radio" value="AC" formControlName="busType"> AC
                                    <input class="radiobtn" type="radio" value="Non-AC" formControlName="busType">
                                    Non-AC
                                    <input class="radiobtn" type="radio" value="Others" formControlName="busType">
                                    Others <br>
                                </div>
                            </div>


                            <hr class="mx-n3">
                            <div class="px-5 py-4">
                                <button type="add" class="btn btn-primary btn-lg"> Add Bus </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>