<app-navigation-bar></app-navigation-bar>
<div class="my-4 container seats-main">
    <h2 class="my-4">Select seats</h2>
    <h4>Number of Seats Booked: {{noOfSeatsSelected}}</h4>
    <div class="row justify-content-center">
        <div class="col-sm-2" style="margin-right: 25px;">
            <div class="d-flex flex-row flex-wrap">
                <div #lseats class="seat" *ngFor="let item of [].constructor(14); let i = index"
                    (click)="onClick('L',i+1,lseats)">
                    L{{i+1}}
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="margin-left: 25px;">
            <div class="d-flex flex-row flex-wrap">
                <div #rseats class="seat" *ngFor="let item of [].constructor(21); let i = index"
                    (click)="onClick('R',i+1,rseats)">
                    R{{i+1}}
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center flex-row flex-wrap" style="margin-left: -15px;">
        <div #bseats class="seat" *ngFor="let item of [].constructor(6); let i = index"
            (click)="onClick('B',i+1,bseats)">
            B{{i+1}}
        </div>
    </div>
    <button style="margin: 10px auto" class="btn btn-primary btn-lg my-4" (click)="goToCheckout()">Book</button>
</div>
<app-footer></app-footer>