<h1 class="mb4">Available Buses</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Schedule Id</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Departure Date and Time</th>
            <th scope="col">Estimated Arrival Date and Time</th>
            <th scope="col">Price (per Seat)</th>
            <th scope="col">Book</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let schedule of schedules">
            <th scope="row">{{schedule.id}}</th>
            <td>{{schedule.startingPoint}}</td>
            <td>{{schedule.destination}}</td>
            <td>{{schedule.scheduleDate + " "+ schedule.departureTime}}</td>
            <td>{{schedule.scheduleDate + " " + schedule.estimatedArrivalTime}}</td>
            <td>{{schedule.fareAmount}}</td>
            <td>
                <button class="btn btn-primary btn-sm" (click)="goToSeats()">Book</button>
            </td>
        </tr>
    </tbody>
</table>