<h1 class="mb4">Available Buses</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Sr. No.</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Departure Time</th>
            <th scope="col">Estimated Time</th>
            <th scope="col">Price (per Seat)</th>
            <th scope="col">Book</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let schedule of schedules; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{schedule.startingPoint}}</td>
            <td>{{schedule.destination}}</td>
            <td>{{schedule.departureTime}}</td>
            <td>{{schedule.estimatedArrivalTime}}</td>
            <td>{{schedule.fareAmount}}</td>
            <td>
                <button class="btn btn-primary btn-sm" (click)="goToSeats(schedule)">Book</button>
            </td>
        </tr>
    </tbody>
</table>