<h3 class="mb-4">Your Bookings: </h3>
<div class="booking-details">
    <div class="row">
        <div class="col-sm-4">
            <h3>Mumbai -> Pune</h3>
            <p class="text-muted">AC Sleeper</p>
        </div>
        <div class="col-sm-3">
            <p>Depature Date & Time</p>
            <p>17-06-22 17:50</p>
        </div>
        <div class="col-sm-3">
            <p>Arrival Date & Time</p>
            <p>17-06-22 21:00</p>
        </div>
        <div class="col-sm-2 alert alert-success activec">
            <p style="margin-top: -12px;">Active</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h5>Abc Travels</h5>
        </div>
        <div class="col-sm-6">
            <h5>Amount Paid: INR 4500</h5>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-danger btn-sm">Show Details</button>
        </div>
    </div>
</div>