<h3 class="mb-4">Your Bookings: </h3>
<div class="booking-details">
    <div class="row">
        <div class="col-sm-4">
            <h3>Pune -> Mumbai</h3>
            <p class="text-muted">AC Sleeper</p>
        </div>
        <div class="col-sm-3">
            <p>Depature Date & Time</p>
            <p>17-09-22 17:50</p>
        </div>
        <div class="col-sm-3">
            <p>Arrival Date & Time</p>
            <p>17-09-22 21:00</p>
        </div>
        <div class="col-sm-2 alert alert-success activec">
            <p style="margin-top: -12px;">Active</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h5>No. of Seats: 4</h5>
        </div>
        <div class="col-sm-5">
            <h5>Amount Paid: INR 5200</h5>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-danger btn-sm" (click)="downloadPdf()">Download Ticket</button>
        </div>
    </div>
</div>