<div class="px-4">
    <h3 class="mb-4">Change Password</h3>
    <form>
        <div class="mb-3">
            <label for="input1" class="form-label">New Password</label>
            <input type="password" class="form-control" id="input1">
        </div>
        <div class="mb-3">
            <label for="input2" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="input2">
        </div>
        <div style="text-align:center;">
            <button class="btn btn-danger my-3">Submit</button>
        </div>
    </form>
</div>